
.title {
    font-family: fantasy;
    margin: 50px;
}

.square {
    background-color: navy;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 75px auto;
    transition: all 1s;
}

.square:hover {
    background-color: orange;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    background-color: gold;
    color: black;
    padding: 30px;
    margin: 50px auto;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: blueviolet;
    color: white;
    transform: scale(1.5);
}