/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/* GLOBAL STYLES 
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* set default to 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    animation: change-color 30s infinite alternate;
    margin: 0;
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-size: 1.9rem;
    line-height: 1.4;
}

@keyframes change-color {
    0% {
        background-color: #D6FAC3;
    }

    25% {
        background-color: #C3B1E1;
    }

    50% {
        background-color: #FAEDCB;
    }

    75% {
        background-color: #A7C7E7;
    }

    100% {
        background-color: #FAC898;
    }
}

/* Basic styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: turquoise;
    /* Green background */
    color: #fff;
}

/* Logo styling */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

/* Navigation links styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 5px 10px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #e0e0e0;
    /* Lighter color for active/hover */
    background-color: yellowgreen;
    /* Darker green background on hover */
    border-radius: 4px;
    /* Optional: rounded corners */
}

/* Menu toggle button for mobile view */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: turquoise;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}

h1, h2, h3 {
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 7rem;
    line-height: 0.85;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    text-align: center;
}

/* links */
a {
    color: #3c8453;
}
a:hover {
    color: #bcaa96;
    text-decoration: none;
}
footer a {
    color: #bcaa96;
}
footer a:hover {
    color: #3c8453;
}
.btn {
    background: turquoise;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 5px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}


/* HOME
------------------------------------*/
.home {
    background: url(../images/hard-image-1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto;
}
.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}

@media screen and (max-width:650px) {
    .home .content-wrapper {
        padding: 10px;
    }

    .content-bg {
        padding: 20px;
    }
}


/* RESUME
------------------------------------*/
.resume header::before {
    background: url(../images/Dragon-ball.png) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 100px;
}

.resume-section h2 {
    border-bottom: 2px dashed #d3d4d6;
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .download-link {
        position: absolute;
    }
}

@media screen and (max-width:500px) {
    .resume header::before {
        height: 200px;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.6rem;
    }

}


/* Projects
------------------------------------*/
.projects header::before {
    background: url(../images/spooky_scene.png) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.project-item {
    margin: 100px 0;
}
.project-item img {
    width: 300px;
}

@media screen and (min-width:860px) {
    .project-item {
        display: flow-root;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width:650px) and (max-width:859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }

    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Work Experience
------------------------------------*/
.work-item {
    margin: 30px 0;
}

.work-details p {
    margin: 0;
}

@media screen and (min-width:860px) {
    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }

    .work-summary p:first-child {
        margin-top: 0;
    }
}

/* Education
------------------------------------*/
.education-item {
    margin: 30px 0;
}

.education-item p {
    margin: 0;

}

/* FOOTER
------------------------------------*/
footer {
    background: turquoise;
    color: #d3d4d6;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width:860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}